body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #d4d4d4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff; /* Color primario de Bootstrap */
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 8px;
}

input {
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.table {
    margin-top: 20px;
}

.table th,
.table td {
    text-align: center;
}

.table th {
    background-color: #28a745;
    color: #fff;
}

.table tbody tr:hover {
    background-color: #d4edda;
}

.btn-warning {
    background-color: #ffc107;
    color: #000;
    border: none;
}

.btn-warning:hover {
    background-color: #ffb007;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}
